name: Unit Tests
env:
  UV_SYSTEM_PYTHON: 1
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  linter:
    name: Linters
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Checkout
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv pip install -e ".[dev]" --torch-backend=auto
      - name: Pre-Commit
        uses: pre-commit/action@v3.0.1
      - name: Type Checking
        uses: jakebailey/pyright-action@v2
      - name: Cleanup
        run: uv cache prune --ci

  testcpu:
    name: CPU Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]

    steps:
      - uses: actions/checkout@v5

      - name: Checkout
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Run tests
        run: uv run pytest tests --showlocals -s -vv -n=auto

      - name: Cleanup
        run: uv cache prune --ci
